<div class="top-bar">
  <div class="home-icon">
    <%= link_to image_tag("favicon.ico", alt: "Accueil", class: "corner-icon"), root_path %>
  </div>
</div>

<div class="profile-header">
  <%= image_tag(@user.profile_image_url, class: 'avatar') if @user.profile_image_url.present? %>
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  <div class="profile-buttons">
    <button class="btn-spotify">Mon Spotify</button>
    <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-spotify" %>
  </div>
</div>

<div class="activity-feed">
  <h3>Mon activité :</h3>
  <% @activities.each do |activity| %>
    <div class="activity-post">
      <p><%= activity.content %></p>
      <p><strong>Date :</strong> <%= activity.created_at.strftime('%d/%m/%Y') %></p>
    </div>
  <% end %>
</div>

<div class="track-carousel">
  <h3>Mes derniers morceaux likés :</h3>
  <div class="carousel-container">
    <span class="carousel-arrow left-arrow">←</span>
    <div class="carousel-tracks">
      <% @tracks.each do |track| %>
        <div class="track-item">
          <p class="track-title"><%= track.title %> - <%= track.artist %></p>
        </div>
      <% end %>
    </div>
    <span class="carousel-arrow right-arrow">→</span>
  </div>
</div>
