<div class="profile-header">
  <% if !@post.user.profile_image_url %>
    <%= image_tag "default_user.jpg", alt: "Default Avatar", class: "avatar avatar-circle" %>
  <% else %>
    <%= image_tag @post.user.profile_image_url , alt: "Default Avatar", class: "avatar avatar-circle" %>
  <% end %>
  <h2><%= @user.username %></h2>
  <div class="profile-buttons">
    <% if @user_id == current_user.id %>
      <%= button_to "Mon fil d'actualité", posts_path, class: "btn-spotify" %>
      <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-spotify" %>
    <% end %>
    <% if current_user != @user %>
      <% if current_user.following?(@user) %>
        <%= button_to 'Ne plus suivre', unfollow_user_path(@user), method: :delete, class: 'btn-spotify' %>
      <% else %>
        <%= button_to 'Suivre', follow_user_path(@user), method: :post, class: 'btn-spotify' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="followers-info">

  <% followers_count = @user.favoritors.count %>
  <p>
    <%= followers_count %> Followers
  </p>

  <% following_count = @user.all_favorites.size %>
  <p>
    <%= following_count %> Following
  </p>

</div>

<div class="wrapper">
  <div class="activity-feed">
    <h3>Mon activité :</h3>
    <% @last_posts.each do |post| %>
      <%= link_to post_path(post), class: "post-link-wrapper" do %>
        <div class="scroll-post">
          <!-- start -->
          <div class="post-card">
            <div class="post-header d-flex align-items-center justify-content-between">
              <div class="user-info d-flex align-items-center">
                <% if !post.user.profile_image_url %>
                  <%= image_tag "default_user.jpg", alt: "Default Avatar", class: "avatar avatar-circle" %>
                <% else %>
                  <%= image_tag post.user.profile_image_url , alt: "Default Avatar", class: "avatar avatar-circle" %>
                <% end %>
                <div class="user-details">
                  <h5 class="username"><%= post.user.username %></h5>
                  <p class="time-ago"><%= time_ago_in_words(post.created_at) %> ago</p>
                </div>
              </div>
            </div>
            <div class="post-content">
              <p> <%= truncate(post.content, length: 140) %></p>
            </div>
            <div class="post-media">
              <iframe src="https://open.spotify.com/embed/track/<%= post.track.spotify_id %>?utm_source=generator"
                    width="100%" height="80" frameborder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy" style="border-radius: 12px;"></iframe>
            </div>
          </div>
          <!-- end -->
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="track-carousel" data-controller="carousel">
  <h3>Mes derniers morceaux likés :</h3>
  <div class="carousel-container">
    <span class="carousel-arrow left-arrow">←</span>
    <div class="carousel-tracks">
      <% @tracks.each do |track| %>
        <div class="track-item" data-carousel-target="trackItem">
          <iframe src="https://open.spotify.com/embed/track/<%= track.spotify_id %>?utm_source=generator"
              width="100%" height="80px" frameborder="0" allowfullscreen=""
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
              loading="lazy" style="border-radius: 12px;"></iframe>
        </div>
      <% end %>
    </div>
    <span class="carousel-arrow right-arrow">→</span>
  </div>
</div>

<div class="recommendations">
  <h3 class="center">Ma recommendation du jour :</h3>
  <div class="profile-buttons d-flex justify-content-around">
    <%= link_to "Ma recommendation du jour", recommendations_path(@user), class: "btn-reco" %>
  </div>
</div>
