<div class="top-bar">
  <div class="home-icon">
    <%= link_to image_tag("favicon.ico", alt: "Accueil", class: "corner-icon"), root_path %>
  </div>
</div>

<div class="profile-header">
  <%= image_tag(@user.profile_image_url, class: 'avatar') if @user.profile_image_url.present? %>
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  <div class="profile-buttons">
    <button class="btn-spotify">Mon Spotify</button>
    <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-spotify" %>

    <% if current_user != @user %>
      <% if current_user.following?(@user) %>
        <%= button_to 'Ne plus suivre', unfollow_user_path(@user), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= button_to 'Suivre', follow_user_path(@user), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="followers-info">
  <%= link_to followers_user_path(@user) do %>
    <% followers_count = @user.favoritors.count %>
    <p>
      <%= followers_count %> Followers
    </p>
  <% end %>

  <%= link_to following_user_path(@user) do %>
    <% following_count = @user.all_favorites.size %>
    <p>
      <%= following_count %> Following
    </p>
  <% end %>
</div>

<div class="wrapper">
  <div class="activity-feed">
    <h3>Mon activité :</h3>
    <% @last_posts.each do |post| %>
      <%= render "posts/post", post: post %>
    <% end %>
  </div>
</div>

<div class="track-carousel" data-controller="carousel">
  <h3>Mes derniers morceaux likés :</h3>
  <div class="carousel-container">
    <span class="carousel-arrow left-arrow">←</span>
    <div class="carousel-tracks">
      <% @tracks.each do |track| %>
        <div class="track-item" data-carousel-target="trackItem">
          <iframe src="https://open.spotify.com/embed/track/<%= track.spotify_id %>?utm_source=generator"
              width="100%" height="80px" frameborder="0" allowfullscreen=""
              allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
              loading="lazy" style="border-radius: 12px;"></iframe>
        </div>
      <% end %>
    </div>
    <span class="carousel-arrow right-arrow">→</span>
  </div>
</div>

<div class="recommendations">
  <h3 class="center">Ma recommendation du jour :</h3>
  <div class="profile-buttons d-flex justify-content-around">
    <%= link_to "Ma recommendation du jour", recommendations_path(@user), class: "btn-reco" %>
  </div>
</div>
