<body class="no-scroll">
  <div class="background">
    <div class="shape shape1"></div>
    <div class="shape shape2"></div>
    <%= image_tag "guitar.png", class: "instrument guitar", alt: "Guitar" %>
    <%= image_tag "saxophone.png", class: "instrument saxophone", alt: "Saxophone" %>
    <%= image_tag "piano.png", class: "instrument piano", alt: "Piano" %>
    <%= image_tag "cymbale.png", class: "instrument hat", alt: "Hat" %>
    <%= image_tag "violoncel.png", class: "instrument violin", alt: "Violin" %>
    <div class="text-container">
      <h1 class="site-title">DiaryJam</h1>
      <% if !user_signed_in? %>
        <%= link_to "Se connecter avec Spotify", new_user_session_path, class: "btn-spotify-home" %>
      <% else %>
        <%= link_to "Accéder à DiaryJam", posts_path, class: "btn-spotify-home purple" %>
      <% end %>
    </div>
  </div>
  <div class="main-content">
    <% if user_signed_in? && current_user.is_connected_to_spotify? %>
      <h2>Dernières Écoutes</h2>
      <% if @tracks.present? %>
        <ul>
          <% @tracks.each do |track| %>
            <li>
              <strong><%= track.name %></strong> par <%= track.artist %>
              <br>
              <img src="<%= track.album_image_url %>" alt="<%= track.name %> cover" style="width: 100px;" />
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>Aucune écoute récente disponible.</p>
      <% end %>
    <% else %>
      <p>Connectez-vous pour voir vos dernières écoutes.</p>
    <% end %>
  </div>
</body>
