<h2>All Posts</h2>

<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-card">
      <!-- User Info Section with Circular Avatar -->
      <div class="user-info d-flex align-items-center">
        <% if post.user.avatar.present? %>
          <%= image_tag post.user.avatar, alt: "User Avatar", class: "avatar avatar-circle" %>
        <% else %>
          <%= image_tag "default-avatar.png", alt: "Default Avatar", class: "avatar avatar-circle" %>
        <% end %>

        <div class="user-details">
          <h5 class="username"><%= post.user.username %></h5>
          <p class="post-text"><%= post.title %></p>
        </div>
      </div>
       <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= post.track.spotify_id %>?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
  <% end %>
</div>
